# 版本控制
.git
.github
.gitignore
.changeset

# 依赖
node_modules
**/node_modules

# 构建产物
**/lib
**/dist
**/build
**/.turbo

# 开发工具
.vscode
.idea
.DS_Store

# 日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 测试
**/coverage

# 环境变量
.env
.env.*
!.env.example

# 其他
README.md
CHANGELOG.md
LICENSE
MONOREPO.md 