# IDE & Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
.history/
*.swp
*.swo

# Dependencies
node_modules
**/node_modules/

# Build output
dist
lib
packages/*/dist
packages/*/lib
**/dist/
**/lib/
*.tsbuildinfo

# Test
coverage
coverage/

# Turborepo
.turbo
.turbo/

# Docs
docs/.vitepress/dist
docs/.vitepress/cache

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System
.DS_Store
Thumbs.db

# Environment
.env
.env.*
.env.local
.env.*.local
!.env.example